@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: rgb(211, 211, 211);
  --dark: rgb(0, 0, 43);
  --background: rgb(0, 0, 43);
  --foreground: rgb(212, 212, 212);
  --primary: rgb(12, 12, 133);
  --primary-0: rgb(8, 8, 66);
  --primary-1: rgb(202, 227, 241);
  --secondary: rgb(10, 133, 10);
  --secondary-0: rgb(4, 70, 4);
  --secondary-1: rgb(145, 255, 145);
  --neutral: rgb(128, 128, 128);
  --neutral-0: rgb(44, 44, 44);
  --neutral-1: rgb(221, 221, 221);
  --warning: rgb(255, 187, 0);
  --warning-0: rgb(80, 59, 0);
  --warning-1: rgb(255, 205, 68);
}

[data-theme="light"] {
  --background: rgb(212, 212, 212);
  --foreground: rgb(0, 0, 43);
  --primary-0: rgb(202, 227, 241);
  --primary-1: rgb(8, 8, 66);
  --secondary-0: rgb(145, 255, 145);
  --secondary-1: rgb(4, 70, 4);
  --neutral-0: rgb(216, 216, 216);
  --neutral-1: rgb(44, 44, 44);
  --warning-0: rgb(255, 248, 148);
  --warning-1: #614700;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 300;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hide {
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--neutral);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--neutral-0);
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--neutral);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track:horizontal {
  background: var(--neutral-0);
}
